.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;

}

.availableBicyclesTitle{
    text-align: left;
    width: 90%;
    padding: 13px;
}